<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.firebase.codelab.friendlychat">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <!-- allow the deivce to shake when receiving notification -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/N1">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAUf7Hsp0CaCS-Lf3I_eizZ2iMzs4aqG7Q" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <!-- android:theme="@style/AppTheme"> -->
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".SignInActivity" />
        <activity
            android:name=".MainActivity"
            android:label="" />
        <activity android:name=".PostJoinActivity" />
        <activity android:name=".schedule" />
        <activity android:name=".scheduleChose" />
        <activity android:name=".scheduleRunDay" />
        <activity android:name=".scheduleRunLevel" />
        <activity android:name=".scheduleRunMedDistance" />
        <activity android:name=".SearchUser" />
        <activity android:name=".Notification" />
        <activity android:name=".Running" />
        <activity android:name=".FriendList" />
        <activity android:name=".Register" />
        <activity android:name=".MyProfile" />
        <activity android:name=".WeekPlan" />
        <activity android:name=".FriendProfile" />
        <activity android:name=".SearchProfile" />
        <activity android:name=".Record" />
        <activity android:name=".Loading" />
        <activity android:name=".Join_Detail" />
        <activity android:name=".Post_Detail" />
        <activity android:name=".Run"
            android:label=""></activity>
        <activity android:name=".findNearby" />
    </application>

</manifest>